mkdocs
mkdocstrings[python]
mkdocstrings-python
#materialx
mkdocs-material
#mkdocs-pdf-export
#mkdocs-pdf-export-plugin
#mkdocs-minify
mkdocs-minify-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-render-swagger-plugin
mkdocs-swagger-ui
jinja2
mkdocs-swagger-ui-tag
beautifulsoup4
beautifulsoup4
neoteroi-mkdocs
mkdocs-pdf-export-plugin
mkdocs-awesome-pages-plugin
mkdocs-coverage
mkdocs-section-index