# Include at root folder
include MANIFEST.in

# Include recursively
recursive-include scilightcon *.csv
recursive-include scilightcon *.json

#Exclude
prune */__pycache__
global-exclude *.pyc *~ *.bak *.swp *.pyo